<style>
    #div1 {
        padding: 10px;
        image-rendering: pixelated;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("img/questionsBackground.png")
    }

    #canvas {
        width: 550px;
        height: 550px;
        image-rendering: pixelated;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("img/ROOM.png")
    }

    .emotionButton {
        cursor: pointer;
        border: none;
        background-color: #6c656a;
    }

    .mainGameButton {
        float: right;
        border: none;
        background-color: blanchedalmond;
        color: rgb(232, 113, 16);
        padding: 15px 32px;
        text-align: center;
        display: inline-block;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
    }

    .emotionButton:focus {
        background-color: rgb(200, 255, 0);
    }

    .emotionButton.active {
        background-color: rgb(200, 255, 0);
    }

    .active {
        background-color: rgb(200, 255, 0);
    }

    #buttonContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50;
    }

    #navbar {
        background-color: white;
    }

    .text span {
        opacity: 0;
    }

    .text span.revealed {
        opacity: 1;
    }

    .text {
        font-size: 1.5vw;
        word-spacing: 0.2em;
        margin: 0 auto;
        background: #fff;
        padding: 1em;
        position: relative;
        line-height: 1.2em;
        font-family: 'Courier New', monospace;
        font-weight: bold;
    }

    .nextSceneButton {
        float: right;
        border: none;
        background-color: #7aaba3;
        color: white;
        padding: 15px 32px;
        text-align: center;
        display: inline-block;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
    }

    .nextSceneButton:focus {
        background-color: #26a38e;
    }
</style>

<body id="mainBody">
    <nav id="navbar" style="height: 70px;"></nav>
    <div class="container" style="display: flex">
        <canvas id="canvas" width="1024" height="576" style="width: 50%"></canvas>
        <div id="div1" style="flex-grow: 1">
            <div id="buttonContainer" class="container">
                <button title="Happy" class="emotionButton" onclick="enableNextButton()">
                    <img id="btn1" src="./img/happyEmoji.png" width="100" height="100" />
                </button>
                <button title="Don't Care" class="emotionButton" onclick="enableNextButton()">
                    <img id="btn2" src="./img/dontCareEmoji.png" width="100" height="100" />
                </button>
                <button title="Sad" class="emotionButton" onclick="enableNextButton()">
                    <img id="btn3" src="./img/sadEmoji.png" width="100" height="100" />
                </button>
                <button title="Scared" class="emotionButton" onclick="enableNextButton()">
                    <img id="btn4" src="./img/scaredEmoji.png" width="100" height="100" />
                </button>
                <button title="Worried" class="emotionButton" onclick="enableNextButton()">
                    <img id="btn5" src="./img/worriedEmoji.png" width="100" height="100" />
                </button>
            </div>
            <div id="situationText" class="text">
            </div>
            <div id="nextSceneButtonContainer">
                <button id="scene2" class="nextSceneButton" onclick="moveToSceneTwo()" disbaled>Next</button>
                <button id="scene3" class="nextSceneButton" style="display:none;" onclick="moveToSceneThree()"
                    disabled>Next</button>
                <button id="scene4" class="nextSceneButton" style="display:none;" onclick="moveToSceneFour()"
                    disabled>Next</button>
                <button id="scene5" class="nextSceneButton" style="display:none;" onclick="moveToSceneFive()"
                    disabled>Next</button>
                <a href="/platformer">
                    <button id="mainGameButton" class="mainGameButton" style="display:none;">Continue to main
                        game
                    </button>
                </a>
            </div>
            {{!-- <div id="anxietyScoreContainer">
                <p>Anxiety Level: <span id="anxietyLevel">0</span></p>
            </div> --}}
        </div>
        <script src="/dragAndDropCode.js"></script>
    </div>
</body>