<style>
    #div1 {
        padding: 10px;
        image-rendering: pixelated;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("img/questionsBackground.png")
    }

    #canvas {
        width: 550px;
        height: 550px;
        image-rendering: pixelated;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("img/ROOM.png")
    }

    .emotionButton {
        cursor: pointer;
        border: none;
        background-color: #6c656a;
    }

    .emotionButton:focus {
        background-color: rgb(200, 255, 0);
    }

    #buttonContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50;
    }

    #navbar {
        background-color: white;
    }

    .text span {
        opacity: 0;
    }

    .text span.revealed {
        opacity: 1;
    }

    .text {
        font-size: 1.5vw;
        word-spacing: 0.2em;
        margin: 0 auto;
        background: #fff;
        padding: 1em;
        position: relative;
        line-height: 1.2em;
        font-family: 'Courier New', monospace;
        font-weight: bold;
    }

    .nextSceneButton {
        float: right;
        border: none;
        background-color: #7aaba3;
        color: white;
        padding: 15px 32px;
        text-align: center;
        display: inline-block;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
    }

    .nextSceneButton:focus {
        background-color: #26a38e;
    }
</style>

<body id="mainBody">
    <nav id="navbar" style="height: 70px;"></nav>
    <div class="container" style="display: flex">
        <canvas id="canvas" width="1024" height="576" style="width: 50%"></canvas>
        <div id="div1" style="flex-grow: 1">
            <div id="buttonContainer" class="container">
                <button title="Happy" class="emotionButton" onclick="updateAnxietyScore()">
                    <img id="btn1" src="./img/happyEmoji.png" width="100" height="100" />
                </button>
                <button title="Sad" class="emotionButton" onclick="updateAnxietyScore()">
                    <img id="btn3" src="./img/sadEmoji.png" width="100" height="100" />
                </button>
                <button title="Scared" class="emotionButton" onclick="updateAnxietyScore()">
                    <img id="btn4" src="./img/scaredEmoji.png" width="100" height="100" />
                </button>
                <button title="Worried" class="emotionButton" onclick="updateAnxietyScore()">
                    <img id="btn5" src="./img/worriedEmoji.png" width="100" height="100" />
                </button>
            </div>
            <div id="situationText" class="text">
            </div>
            <div id="nextSceneButtonContainer">
                <button id="next" class="nextSceneButton" onclick="moveToNextScene()" disbaled>Next</button>
            </div>
        </div>

        <script src="/dragAndDropCode.js"></script>
    </div>
</body>