<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>The Worry Buddy</title>
    <style>
        body {
            background-color: #8BC34A;
            font-family: 'Times New Roman', Times, serif;
            text-align: center;
            font-weight: bold;
        }

        #mainBodyDiv {
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            margin: 50px auto;
            max-width: 600px;
            padding: 30px;
        }

        h1 {
            font-size: 60px;
            color: #4CAF50;
            margin-bottom: 30px;
        }

        #loginButton,
        #signupButton {
            background-color: #4CAF50;
            border: none;
            border-radius: 5px;
            color: #fff;
            cursor: pointer;
            font-size: 24px;
            margin: 10px;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;


                {
                !-- display: block;
                --
            }


            width: 100%;
        }

        #loginButton:hover,
        #signupButton:hover {
            background-color: #388E3C;
        }

        #playerOne {
            height: 280px;
            width: 250px;
            justify-self: center;
            max-width: 100%;
            margin-bottom: 20px;
            display: block;
            margin: 0 auto;

        }
    </style>
</head>

<body>
    {{!-- <div>
        <li>
            <a href="/platformer">
                <button> Platformer </button>
            </a>
            <a href="/dragAndDrop">
                <button> Drag and Drop </button>
        </li>
    </div> --}}
    <div id="mainBodyDiv">
        <h1>The Worry Buddy</h1>
        <p> This is Sam. Join Sam on an adventure to explore different challenges and help her learn new skills. Let's
            help Sam win the game! </p>
        <img id="playerOne" src="./img/playerForStartScreen.png" alt="Player">
        <a href="/login"><button id="loginButton">Login</button></a>
        <a href="/register"><button id="signupButton">Sign Up</button></a>
    </div>
</body>

</html>