<style>
    body {
        margin: 0%;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #welcomePlayerContainer {
        position: absolute;
        top: 40;
        left: 80;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 1100px;
        height: 500px;
    }

    #welcomeText {
        width: 50%;
        height: 100%;
        padding: 20px;
        font-family: 'Courier New', Courier, monospace;
        font-size: 24px;
        justify-self: end;
        color: black;
        font-weight: bold;
    }

    #playButton {
        position: absolute;
        bottom: 50;
        right: 30;
        margin: 10px;
        font-size: 24px;
        background-color: red;
        border: none;
        border-radius: 5px;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        transition-duration: 0.4s;
        cursor: pointer;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        font-family: 'Comic Sans MS', cursive, sans-serif;
    }

    .clickable-image {
        height: 120px;
        width: 120px;
        position: absolute;
        cursor: pointer;
    }

    .non-clickable-image {
        height: 120px;
        width: 120px;
        position: absolute;
    }

    .next-button {
        font-size: 24px;
        background-color: red;
        border: none;
        border-radius: 5px;
        color: white;
        padding: 10px 20px;
        text-align: center;
        cursor: pointer;
        font-family: 'Comic Sans MS', cursive, sans-serif;
        position: fixed;
        bottom: 150px;
        left: 1200px;
    }

    canvas {
        position: relative;
        display: block;
        margin: 0;
        padding: 0;
        border: none;
    }

    #optionBar,
    #schoolOptionBar {
        position: absolute;
        bottom: 0;
        left: 450px;
        height: 100px;
        z-index: 10;
        margin: 0;
        padding: 0;
        display: flex;
    }

    #buttonContainer,
    #schoolButtonContainer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .optionButton,
    .schoolOptionButton {
        cursor: pointer;
        font-size: 18px;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        border-right: 4px black solid;
        padding: 10px;
    }

    .optionButton:hover,
    .schoolOptionButton:hover {
        background-color: #ccc;
    }

    .optionButton:active,
    .schoolOptionButton:active {
        background-color: #969595;
    }

    #audioGameDiv {
        position: absolute;
        width: 500px;
        height: 400px;
        background-color: #67E6D1;
        z-index: 10;
    }

    .animal {
        height: 100px;
        width: 100px;
        cursor: pointer;
        padding: 10px 20px;
    }

    #animal-container {
        background-color: white;
        padding-left: 20px;
    }

    .animal:active {
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }

    #animalButtonsDiv {
        padding-left: 10px;
    }

    .animalButton {
        font-size: 24px;
        background-color: #45c61e;
        border: none;
        border-radius: 5px;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        transition-duration: 0.4s;
        cursor: pointer;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        font-family: 'Comic Sans MS', cursive, sans-serif;
    }

    .animalButton:hover {
        background-color: #32CD32;
        color: white;
    }

    .animalButton:active {
        background-color: #228B22;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }

    #selectAnimal {
        font-size: 18px;
        color: #000000;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        padding-left: 20px;
        line-height: 1.5;
        margin-bottom: 30px;
        align-items: center;
    }

    #selectedAnimal {
        font-size: 30px;
        color: #333;
        font-family: 'Comic Sans MS', cursive, sans-serif;
        line-height: 1.5;
        margin-bottom: 20px;
        margin-left: 100px;
        margin-top: 100px;
    }

    .decisionButton {
        font-size: 24px;
        background-color: #2e8415;
        border: none;
        border-radius: 5px;
        color: white;
        text-align: center;
        display: inline-block;
        cursor: pointer;
        font-family: 'Comic Sans MS', cursive, sans-serif;
        margin-top: 80px;
        margin-left: 100px;

    }

    #welcome {
        font-size: 50px;
        color: red;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bolder;
        background-color: white;

    }

    #howToPlay,
    #hint {
        font-size: 20px;
        font-weight: bold;
        font-family: 'Courier New', Courier, monospace;
        align-self: center;
        color: black;
        background-color: white;
    }

    .speech-bubble {
        background-color: black;
        width: 200px;
        height: 200px;
        border-radius: 12px;
        position: absolute;
    }

    #popup-container,
    #tryAgainPopupContainer {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 9999;
        justify-content: center;
    }

    #popup-content,
    #tryAgainPopupContent {
        position: absolute;
        width: 400px;
        height: 200px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        text-align: center;
        font-family: 'Comic Sans MS', cursive, sans-serif;
        font-size: 20px;
    }

    #close-btn,
    #popup-close-btn {
        position: absolute;
        bottom: 10px;
        right: 10px;
        font-size: 18px;
        background-color: red;
        border: none;
        border-radius: 5px;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        transition-duration: 0.4s;
        cursor: pointer;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        font-family: 'Comic Sans MS', cursive, sans-serif;
    }

    #resultsDiv {
        position: fixed;
        height: 576px;
        width: 95%;
        background-color: wheat;
    }

    #playerImage {
        width: 150px;
        height: 150px;
        position: fixed;
        bottom: 50;
        left: 50;
    }

    #playerImage2 {
        width: 150px;
        height: 150px;
        position: fixed;
        bottom: 50;
        right: 50;
    }
</style>


<div id="overlap" style="background-color:white;width:1300px;height:576px;position:absolute;
    opacity:0; pointer-events:none;z-index:10;">
</div>
<canvas></canvas>
<div id="popup-container" style="display:none;">
    <div id="popup-content">
        <p>To help Sam do their best, we're going to take a moment to focus on our breathing. Just follow the
            instructions on the screen, and you'll be ready to tackle
            the rest of the course like a pro!
        </p>
        <button id="close-btn">Close</button>
    </div>
</div>
<div id="tryAgainPopupContainer" style="display:none;">
    <div id="tryAgainPopupContent">
        <p> Oops! Sam fell through the gap! You can help her by jumping over the gaps using
            the up arrow. Let's try again!
        </p>
        <button id="popup-close-btn">Close</button>
    </div>
</div>
<div id="welcomePlayerContainer">
    <div id="speech-bubble">
        <p id="welcome"> WELCOME PLAYER! </p>
        <p id="howToPlay">You can win the game! Make it to the finish flag with the highest score possible, and you'll
            be the winner! Are you ready to take on this challenge?
        </p>
        <p id="hint"> Here's a hint: Jump up to touch all the mystery boxes as you go!
        </p>
    </div>
    <div id="welcomeText">
        <p>Press <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="20" height="20">
                <g data-name="11-Arrow Right">
                    <path
                        d="M25 0H7a7 7 0 0 0-7 7v18a7 7 0 0 0 7 7h18a7 7 0 0 0 7-7V7a7 7 0 0 0-7-7zm5 25a5 5 0 0 1-5 5H7a5 5 0 0 1-5-5V7a5 5 0 0 1 5-5h18a5 5 0 0 1 5 5z" />
                    <path d="m19.71 8.29-1.42 1.42 5.3 5.29H5v2h18.59l-5.29 5.29 1.41 1.41 7-7a1 1 0 0 0 0-1.41z" />
                </g>
            </svg>
            key to move right</p>
        <p> Press <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="20" height="20">
                <g data-name="12-Arrow Left">
                    <path
                        d="M25 0H7a7 7 0 0 0-7 7v18a7 7 0 0 0 7 7h18a7 7 0 0 0 7-7V7a7 7 0 0 0-7-7zm5 25a5 5 0 0 1-5 5H7a5 5 0 0 1-5-5V7a5 5 0 0 1 5-5h18a5 5 0 0 1 5 5z" />
                    <path d="m13.71 9.71-1.42-1.42-7 7a1 1 0 0 0 0 1.41l7 7 1.41-1.41L8.41 17H27v-2H8.41z" />
                </g>
            </svg>
            key to move left</p>
        <p> Press <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="20" height="20">
                <g data-name="9-Arrow Up">
                    <path
                        d="M25 0H7a7 7 0 0 0-7 7v18a7 7 0 0 0 7 7h18a7 7 0 0 0 7-7V7a7 7 0 0 0-7-7zm5 25a5 5 0 0 1-5 5H7a5 5 0 0 1-5-5V7a5 5 0 0 1 5-5h18a5 5 0 0 1 5 5z" />
                    <path d="m15.29 5.29-7 7L9.7 13.7 15 8.41V27h2V8.41l5.29 5.29 1.41-1.41-7-7a1 1 0 0 0-1.41 0z" />
                </g>
            </svg>
            key to jump </p>
        <p>And press space bar to breathe! </p>
    </div>
    <button id="playButton">Close instructions</button>
</div>
<div id="optionBar" style="display:none;">
    <div id="buttonContainer">
        <button id="walkBtn" class="optionButton">Go for a Walk</button>
        <button id="sleepBtn" class="optionButton">Go to Sleep</button>
        <button id="friendBtn" class="optionButton">Play with a friend</button>
    </div>
</div>
<div id="schoolOptionBar" style="display:none;">
    <div id="schoolButtonContainer">
        <button id="talkFriendBtn" class="schoolOptionButton"> Talk to friends</button>
        <button id="drawBtn" class="schoolOptionButton"> Draw a picture</button>
        <button id="musicBtn" class="schoolOptionButton"> Listen to Music</button>
    </div>
</div>
<div id="audioGameDiv" style="display: none; justify-content:center; align-items:center">
    <div id="animalButtonsDiv">
        <button id="catButton" class="animalButton">Play Sound</button>
        <button id="frogButton" class="animalButton">Play Sound</button>
        <button id="cowButton" class="animalButton">Play Sound</button>
    </div>
    <p id="selectAnimal">Press the button to play and animal sound. Click on the animal you could hear! </p>
    <div id="animal-container">
        <img src="./img/audioGameData/cat.png" alt="Cat" id="cat" class="animal">
        <img src="./img/audioGameData/chicken.png" alt="Chicken" id="chicken" class="animal">
        <img src="./img/audioGameData/fox.png" alt="Fox" id="fox" class="animal">
        <img src="./img/audioGameData/frog.png" alt="Frog" id="frog" class="animal">
        <img src="./img/audioGameData/pig.png" alt="Pig" id="pig" class="animal">
        <img src="./img/audioGameData/cow.png" alt="Cow" id="cow" class="animal">
    </div>
    <p id="selectedAnimal"></p>
    <div id="confirmSelection" style="display:none;">
        <button id="noButton" class="decisionButton"> No. Choose again. </button>
        <button id="yesButton" class="decisionButton"> Yes </button>
    </div>
</div>
<div id="resultsDiv"
    style="display: none; font-family: Arial, sans-serif; font-size: 16px; line-height: 1.5; color: #333;">
    <h2 style="font-size: 28px; font-weight: bold; margin-bottom: 10px; margin-left: 20px; white-space: nowrap;">Based
        on your child's response to 'The Worry Buddy', the following results have been concluded:</h2>
    <ul style="list-style-type: disc; margin-left: 20px;">
        <li style="margin-bottom: 10px;">In the pretest for anxiety, your child score was :
            <span id="anxietyLevel" style="font-weight: bold;"></span>. <br>
            <span id="anxietyLevelAdvice"></span>
        </li>
        <li style="margin-bottom: 10px;">In one of our minigames, your child selected for Sam to :
            <span id="copingMethodChosen" style="font-weight: bold;"></span> when she first arrived at school. <br>
            <span id="copingMethodAdvice"></span>
        </li>
        <li style="margin-bottom: 10px;">As a lunch for Sam, your child selected :
            <span id="foodSelectedGame" style="font-weight: bold;"></span> <br>
            Did you know that what we eat can have an impact on our mood and mental health? Encourage your child to
            continue making healthy food choices, which can help them feel good both physically and mentally.
        </li>
        <li id="sleepChosen" style="display: none;margin-bottom: 10px;">In one of our minigames, your child selected
            going to sleep over going for a walk or seeing a friend.Getting enough sleep is important for both our
            physical and mental health. Encourage your child to prioritize a regular sleep schedule and establish
            a relaxing bedtime routine to help them wind down at night. If your child
            is consistently feeling tired or having trouble sleeping, it may be a good idea to talk to their
            healthcare provider.
        </li>
        <li id="friendChosen" style="display: none; margin-bottom: 10px;">In one of our minigames, your child
            selected seeing a friend over going to sleep or exercising. Socializing with friends is an important part of
            our mental and emotional well-being. Encourage your child to spend time with friends and engage in
            activities they enjoy together. Plan playdates or outings to help your child stay connected with their
            peers. If your child is having trouble making friends or
            seems hesitant to socialize, try practicing social skills with them or seeking guidance from a school
            counselor or healthcare provider.
        </li>
        <li id="walkChosen" style="display: none; margin-bottom: 0px;">In one of our minigames, your child selected
            exercising over going to sleep or seeing a friend. Exercise is a great way to boost our physical and mental
            health, improving mood and reducing stress. Encourage your child to engage in regular physical activity,
            such as playing sports or
            going for walks. You can also try exercising together as a family to make it more fun and engaging. If your
            child is hesitant to exercise, try finding activities they enjoy or setting achievable goals to help them
            stay motivated.
        </li>
    </ul>
    <img id="playerImage" src="./img/playerForSignInScreen.png" alt="Player">
    <img id="playerImage2" src="./img/playerForRegisterScreen.png" alt="Player">
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"
    integrity="sha512-H6cPm97FAsgIKmlBA4s774vqoN24V5gSQL4yBTDOY2su2DeXZVhQPxFK4P6GPdnZqM9fg1G3cMv5wD7e6cFLZQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/platformerCode.js" type="module"></script>
<script>
    // Call this function with the final score to save it to the database
    function saveScore(score) {
        fetch('{{ saveScoreUrl }}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ score })
        })
            .then(response => {
                if (response.ok) {
                    console.log(`Score ${score} saved to the database`);
                } else {
                    console.log(`Error saving score: ${response.statusText}`);
                }
            })
            .catch(error => {
                console.log(`Error saving score: ${error.message}`);
            });
    }

    // Call this function with the final score when the game ends
    function gameOver(score) {
        console.log(`Game over! Final score: ${score}`);
        saveScore(score);
    }
</script>