<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>

    <style>
        body {
            background-color: #8BC34A;
            font-family: 'Times New Roman', Times, serif;
            text-align: center;
        }

        #title {
            font-size: 50px;
            font-weight: bolder;
            color: #4CAF50;
        }

        #smallPrint {
            font-size: 20px;
            font-weight: bolder;
            color: #4CAF50;
        }

        #loginNavBar {
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            margin: 10px auto;
            max-width: 400px;
            padding: 10px;
        }

        #loginNavBar li {
            display: inline-block;
            margin-right: 10px;
        }

        #loginNavBar a {
            color: #1d90e1;
            text-decoration: underline;
            font-size: 20px;
        }

        #mainContainer {
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            margin: 50px auto;
            max-width: 600px;
            padding: 30px;
        }

        #loginOrRegister {
            margin-top: 20px;
            display: block;
        }

        #loginOrRegister div {
            font-size: 24px;
            color: #4CAF50;
            margin-bottom: 20px;
            display: block;
        }

        #loginOrRegister label {
            margin-bottom: 10px;
            color: #4CAF50;
            margin-left: 80px;
            font-weight: bold;
        }

        .inputArea {
            padding: 10px;
            margin-bottom: 20px;
            width: 50%;
            box-sizing: border-box;
        }

        #loginOrRegister button {
            background-color: #4CAF50;
            border: none;
            border-radius: 5px;
            color: #fff;
            cursor: pointer;
            font-size: 24px;
            margin: 10px auto;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            width: 50%;
            max-width: 200px;
        }

        #loginOrRegister button:hover {
            background-color: #388E3C;
        }

        #playerImage {
            width: 180px;
            height: 180px;
            bottom: 0;
            left: 0;
            padding-right: 100px;
        }
    </style>
</head>


<body>
    <nav id="loginNavBar">
        <ul>
            <li><a href="/login">Already a member? Login here! </a></li>
        </ul>
    </nav>

    <div id="mainContainer">
        <div id="title">Sign Up Here! </div>
        <div id="smallPrint">You have to sign up to play game </div>
        <div id="loginOrRegister">
            <form action="/auth/register" method="POST">
                <label for="name-reg" class="form-label">Enter your name : </label>
                <input type="text" class="inputArea" id="name-reg" name="name">

                <label for="email-reg" class="form-label">Enter your email : </label>
                <input type="text" class="inputArea" id="email-reg" name="email">

                <label for="password-reg" class="form-label">Enter a password : </label>
                <input type="password" class="inputArea" id="password-reg" name="password">

                <label for="password-conf-reg" class="form-label">Confirm password : </label>
                <input type="password" class="inputArea" id="password-conf-reg" name="password_confirm">

                <img id="playerImage" src="./img/playerForRegisterScreen.png" alt="Player">
                <button id="signUpButton" type="submit">Sign up</button>
            </form>
        </div>
    </div>
</body>

</html>