nav {
    background-size: cover;
    background-color: rgb(107, 214, 13);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 30px 60px;
}

nav li {
    list-style: none;
}

nav li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 8px;
}

nav li a:hover {
    color: yellow;
    text-decoration: none;
}

#indexMainDiv {
    justify-content: center;
    align-items: center;
}